-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: registrar_db_v2
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `jp_programs`
--

DROP TABLE IF EXISTS `jp_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jp_programs` (
  `program_code` varchar(20) NOT NULL,
  `program_name` varchar(150) DEFAULT NULL,
  `school_name` varchar(100) DEFAULT NULL,
  `category` varchar(60) DEFAULT NULL,
  PRIMARY KEY (`program_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jp_programs`
--

LOCK TABLES `jp_programs` WRITE;
/*!40000 ALTER TABLE `jp_programs` DISABLE KEYS */;
INSERT INTO `jp_programs` VALUES ('BSCS','Bachelor of Science in Computer Science','EAC','College'),('BSIT','Bachelor of Science in Information Technology','EAC','College'),('BSN','Bachelor of Science in Nursing','EAC','College');
/*!40000 ALTER TABLE `jp_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jp_courses`
--

DROP TABLE IF EXISTS `jp_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jp_courses` (
  `course_id` int(11) NOT NULL AUTO_INCREMENT,
  `course_code` varchar(20) DEFAULT NULL,
  `course_title` varchar(100) DEFAULT NULL,
  `units` int(11) DEFAULT NULL,
  `program_code` varchar(20) DEFAULT NULL,
  `prerequisite_course_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jp_courses`
--

LOCK TABLES `jp_courses` WRITE;
/*!40000 ALTER TABLE `jp_courses` DISABLE KEYS */;
INSERT INTO `jp_courses` VALUES (1,'CS101','Introduction to Computing',3,'BSCS',NULL),(2,'CS102','Computer Programming 1',3,'BSCS',NULL),(3,'CS103','Data Structures and Algorithms',3,'BSCS',NULL),(4,'MATH101','Mathematics in the Modern World',3,'BSCS',NULL),(5,'CS104','Web Development 1',3,'BSCS',NULL),(6,'ENGL101','Purposive Communication',3,'BSCS',NULL),(7,'PE101','Physical Education 1',2,'BSCS',NULL),(8,'NSTP101','National Service Training',3,'BSCS',NULL);
/*!40000 ALTER TABLE `jp_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jp_curriculum_mapping`
--

DROP TABLE IF EXISTS `jp_curriculum_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jp_curriculum_mapping` (
  `mapping_id` int(11) NOT NULL AUTO_INCREMENT,
  `program_code` varchar(20) DEFAULT NULL,
  `course_id` int(11) DEFAULT NULL,
  `year_level` int(11) DEFAULT NULL,
  `semester` int(11) DEFAULT NULL,
  PRIMARY KEY (`mapping_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jp_curriculum_mapping`
--

LOCK TABLES `jp_curriculum_mapping` WRITE;
/*!40000 ALTER TABLE `jp_curriculum_mapping` DISABLE KEYS */;
INSERT INTO `jp_curriculum_mapping` VALUES (1,'BSCS',1,1,1),(2,'BSCS',2,1,1),(3,'BSCS',4,1,1),(4,'BSCS',6,1,1),(5,'BSCS',7,1,1),(8,'BSCS',3,1,2),(9,'BSCS',5,1,2),(10,'BSCS',8,1,2),(11,'BSCS',3,2,1),(12,'BSCS',3,3,1),(13,'BSCS',3,4,1);
/*!40000 ALTER TABLE `jp_curriculum_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jp_class_sections`
--

DROP TABLE IF EXISTS `jp_class_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jp_class_sections` (
  `section_id` int(11) NOT NULL AUTO_INCREMENT,
  `course_id` int(11) DEFAULT NULL,
  `section_name` varchar(20) DEFAULT NULL,
  `max_capacity` int(11) DEFAULT 40,
  PRIMARY KEY (`section_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jp_class_sections`
--

LOCK TABLES `jp_class_sections` WRITE;
/*!40000 ALTER TABLE `jp_class_sections` DISABLE KEYS */;
INSERT INTO `jp_class_sections` VALUES (1,1,'CS-1A',40),(2,2,'CS-1A',40),(3,3,'CS-1A',40),(4,4,'CS-1A',40),(5,5,'CS-1A',40),(6,6,'CS-1A',40),(7,7,'CS-1A',40),(8,8,'CS-1A',40);
/*!40000 ALTER TABLE `jp_class_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jp_class_schedules`
--

DROP TABLE IF EXISTS `jp_class_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jp_class_schedules` (
  `schedule_id` int(11) NOT NULL AUTO_INCREMENT,
  `section_id` int(11) DEFAULT NULL,
  `course_id` int(11) DEFAULT NULL,
  `day_of_week` varchar(20) DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `room` varchar(30) DEFAULT NULL,
  `faculty_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`schedule_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jp_class_schedules`
--

LOCK TABLES `jp_class_schedules` WRITE;
/*!40000 ALTER TABLE `jp_class_schedules` DISABLE KEYS */;
INSERT INTO `jp_class_schedules` VALUES (1,1,1,'Monday','08:00:00','11:00:00','Room 301',7),(2,2,2,'Tuesday','08:00:00','11:00:00','Room 302',7),(3,3,3,'Wednesday','08:00:00','11:00:00','Room 303',7),(4,4,4,'Thursday','13:00:00','16:00:00','Room 304',7);
/*!40000 ALTER TABLE `jp_class_schedules` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14  6:56:00
